@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@model HomeIndexVM




<div class="container">
    <div class="text-center">
        <button class="btn btn-dark filter-product-btn" data-filter="all">All</button>
        @foreach (var item in Model.Categories)
        {
            <button class="btn btn-dark filter-product-btn" data-filter="@item.CategoryName">@item.CategoryName</button>
        }
    </div>

    <div class="row mt-5">
        @foreach (var item in Model.Books)
        {
            <div class="col-md-6 pb-4 filter @item.Category.CategoryName">
                <div class="card bg-white rounded shadow-sm">
                    <div class="card-body row">
                        <div class="col-7"><label>@item.NameBook</label></div>
                        <div class="col-5"><label>Số lượng: @item.Stock</label></div>
                    </div>
                    <div class="card-body row">
                        <div class="col-12">
                            <span class="badge w-100" style="background-color: lawngreen">@item.Category.CategoryName</span>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            $(".filter-product-btn").click(function () {
                let value = $(this).attr('data-filter');
                if (value == "all") {
                    $(".filter").show('1000');
                }
                else {
                    $(".filter").not('.' + value).hide('3000');
                    $(".filter").filter('.' + value).show('3000');
                }
            })
        })
    </script>
}
